<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.StringTemplate" version="4.0.6.9004" targetFramework="net452" />
  <package id="linq2db" version="1.0.7.4" targetFramework="net452" />
  <package id="linq2db.SQLite" version="1.0.7.3" targetFramework="net452" />
  <package id="linq2db.t4models" version="1.0.7.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="RazorEngine" version="3.8.2" targetFramework="net452" />
  <package id="ServiceStack" version="4.0.56" targetFramework="net452" />
  <package id="ServiceStack.Client" version="4.0.56" targetFramework="net452" />
  <package id="ServiceStack.Common" version="4.0.56" targetFramework="net452" />
  <package id="ServiceStack.Interfaces" version="4.0.56" targetFramework="net452" />
  <package id="ServiceStack.OrmLite" version="4.0.56" targetFramework="net452" />
  <package id="ServiceStack.Razor" version="4.0.56" targetFramework="net452" />
  <package id="ServiceStack.Text" version="4.0.56" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.101.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.101.0" targetFramework="net452" />
</packages>